- attributes("title") = "WikipediaRandom"
- attributes("headline") = "WikipediaRandom"
-@ val pages: List[List[String]]
ul.mdl-list
  =for(page<-pages)
    li.mdl-list__item
      a(href={page.tail.head})= page.head
