-@ val title: String
-@ val headline: String = title
-@ val body: String

!!! 5
html
  head
    title= title
    link(rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div(data-role="page")
      div(data-role="header")
        h1= headline
        a#reload(href="#" data-icon="reflesh" class="ui-btn-right") Reload
      div(data-role="content")
        != body
  :javascript
    $('#reload').click(function(){location.reload()})