-@ val title: String
-@ val headline: String = title
-@ val body: String

!!! 5
html
  head
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css")
    script(defer src="https://code.getmdl.io/1.1.1/material.min.js")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    meta(name="viewport" content="width=device-width user-scalable=0")
  body
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        div.mdl-layout__header-row
          span.mdl-layout-title= "Wikipedia Random"
          div.mdl-layout-spacer
          nav.mdl-navigation
            a.mdl-navigation__link#reload(href="#") Reload
      main.mdl-layout__content
        div.mdl-grid
          div.mdl-cell.mdl-cell--2-col
            != body
  :javascript
    $('#reload').click(function(){location.reload()})
